<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="Path" value="C:\Users\Prashant\source\repos\FlightNetwork\FlightSearch\Providers\"/>
  <add key="ProviderNames" value="Provider1.txt,Provider2.txt,Provider3.txt"/>
</appSettings>
</configuration>
